.lanyard-wrapper {
  position: relative;
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.lanyard-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
  outline: none;
  cursor: grab;
}

.lanyard-wrapper canvas:active {
  cursor: grabbing;
}
